### Creating Results File

In [1]:
import pandas as pd

In [3]:
results = pd.read_csv('models_results.csv')
results

,iteration_num,train,size,insulin,readmitted,default,method,model_acc,model1_acc,ate0,ate1,ate
0,0,True,23104,0.840893,0.113487,True,ipw,0.542948,0.000000,0.088791,0.118203,0.029412
1,0,True,23104,0.840893,0.113487,True,s_learner,0.503840,0.000000,0.001558,0.002900,0.001342
2,0,True,23104,0.840893,0.113487,True,s_learner_star,0.503840,0.000000,0.013288,0.101930,0.088643
3,0,True,23104,0.840893,0.113487,True,t_learner,0.509044,0.503414,0.003419,0.002640,-0.000779
4,0,True,23104,0.840893,0.113487,True,t_learner_star,0.509044,0.503414,0.014932,0.101887,0.086955
...,...,...,...,...,...,...,...,...,...,...,...,...
271,2,False,23105,0.841679,0.114391,False,matching_propensity_k:15,0.500000,0.500364,0.011859,0.102532,0.090673
272,2,False,23105,0.841679,0.114391,False,matching_nca:2_:15,0.500000,0.500393,0.011859,0.102575,0.090716
273,2,False,23105,0.841679,0.114391,False,matching_nca:10_:15,0.501825,0.505623,0.012119,0.102618,0.090500
274,2,False,23105,0.841679,0.114391,False,matching_nca:20_:15,0.500000,0.505564,0.011902,0.102575,0.090673
275,2,False,23105,0.841679,0.114391,False,matching_nca:30_:15,0.500000,0.504480,0.012032,0.102618,0.090586

In [26]:
df = results.groupby(['train', 'default', 'method']).agg({'readmitted':'mean', 'model_acc':'mean', 'ate0':'mean', 'ate1':'mean', 'ate':'mean'}).reset_index()
df['model'] = 'LogisticRegression'
df.loc[df['default'] == False ,'model'] = 'RandomForests'
df.loc[df['method'].str.contains('matching') ,'model'] = 'KNN'
df = df.rename(columns={'ate0':'ATE0', 'ate1':'ATE1', 'ate':'ATE'})
df = df.sort_values(by=['method', 'train', 'model'])[['train', 'model', 'method', 'model_acc', 'readmitted', 'ATE0', 'ATE1', 'ATE']]

In [ ]:
df.to_csv('results.csv', index=False)